.search-history.light{
    max-height:280px;
    overflow-y: auto;
    margin-top: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius:20px;
    padding: 3%;
    background-color:rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 1);
}
.search-history.dark{
    max-height:280px;
    overflow-y: auto;
    margin-top: 16px;
    border: 1px solid rgba(26, 26, 26, 0.3);
    border-radius:20px;
    padding: 3%;
    background-color:rgba(26, 26, 26, 0.3);
    color: rgba(255, 255, 255, 1);
}


.individual-search.light{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius:16px;
    height: 60px;
    background: rgba(255, 255, 255, 0.4);
    align-items: center;  
    margin-top:16px;
    padding: 2%;
    justify-content: space-between;
}

.individual-search.dark{
    display: flex;
    border: 1px solid rgba(26, 26, 26, 0.5);
    border-radius:16px;
    height: 60px;
    background: rgba(26, 26, 26, 0.5);
    align-items: center;  
    margin-top:16px;
    padding: 2%;
    justify-content: space-between;
}

.icons.light{
  color: #000000;
  display: inline-flex;
  align-items: center;
}


.icons.dark{
    color:rgba(255, 255, 255, 0.5);
    display: inline-flex;
    align-items: center;
}




  