.app.light {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;  
  height: 100vh; 
  font-family: 'Noto Sans';
  background-image:  url('/bg-light.png')
}

.app.dark {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;  
  height: 100vh; 
  font-family: 'Noto Sans';
  background-image:  url('/bg-dark.png')
}

.theme-switch.light {
 margin-bottom: 8px;
 color: #6C40B5;
}

.theme-switch.dark {
  margin-bottom: 8px;
  color: #FFFFFF;
 }

.content {
  display: flex;
  flex-direction: column;
  width: 700px; 
  max-width: 90vw;
}

.card.light {
  position: relative; 
  overflow: visible; 
  backdrop-filter: blur(10px); 
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.5); 
  border-radius: 40px;
  padding: 5%;
}



.card.dark {
  position: relative; 
  overflow: visible; 
  backdrop-filter: blur(20px); 
  background-color: rgba(26, 26, 26, 0.3);
  justify-content: flex-start;
  border: 1px solid rgba(26, 26, 26, 0.3);
  border-radius: 40px;
  padding: 5%;
}


